@page "/"

<h1>welcome to Fishtail Finance</h1>
<NavLink class="btn btn-primary" href="login">Login</NavLink>

Welcome to your finance manager. This is a simple app that allows you to track your expenses and income. sYou can also set a budget and track your progress.