@page "/"
@inject NavigationManager NavManager

<body>
    <center> <h3>Welcome To Fishtail finance, Please Login.</h3></center>
    <center>
        <form @onsubmit="LoginHandler">
            <p>Username:  <input type="text" @bind="username" placeholder="Enter Username" /></p>
            <br />
            <p>Password: <input type="password" @bind="password" placeholder="Enter Password" /></p>
            <button type="submit">Login</button>
        </form>
    </center>

    @if (ShowLoginFailedAlert)
    {
            <AlertWithCallBack WhileClickingOKButton="OkayButtonPressed">
                <Message>
                    <p><strong>ERROR!</strong></p>
                    <p>Invalid Username or Password!</p>
                </Message>
            </AlertWithCallBack>

    }
</body>

@code {
    private string? username { get; set; }
    private string? password { get; set; }
    private bool ShowLoginFailedAlert = false;

    private void LoginHandler()
    {
        if (username == "admin" && password == "admin")
        {
            NavManager.NavigateTo("/welcome");
        }
        else
        {
            ShowLoginFailedAlert = true;
        }
    }

    private void OkayButtonPressed()
    {
        username = null;
        password = null;
        ShowLoginFailedAlert = false;
    }

}

