body {
    background-color: #08212D; /* Dark background color */
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh; /* Increase height to ensure form is always centered */
}

h3 {
    color: #fff; /* White text color */
    margin-bottom: 20px; /* Add margin below the heading */
    text-align: center; /* Center the heading horizontally */
}

form {
    background-color: #121C21; /* Darker background for the form */
    padding: 30px; /* Reduce padding for a more compact look */
    border-radius: 5px;
    text-align: center; /* Center the form content horizontally */
}

p {
    color: #fff; /* White text color */
    margin: 10px 0;
}

input[type="text"],
input[type="password"] {
    color: #94B2C7;
    width: 250px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 3px;
    background-color: #263845; /* Darker background for input fields */
    margin-bottom: 15px; /* Add spacing between input fields */
}

button[type="submit"] {
    background-color: #228A1A; /* Blue button color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

    button[type="submit"]:hover {
        background-color: #20741A; /* Slightly darker blue on hover */
    }
