@page "/"
@inject NavigationManager NavManager

<center><h3>Login</h3></center>

<form @onsubmit="LoginHandler">
    <p>Enter Username:  <input type="text" @bind="username" /></p>
    <br />
    <p>Enter Password: <input type="password" @bind="password" /></p>
    <button type="submit">Login</button>
</form>
@* 
@if (ShowLoginFailedAlert)
{
    <Alert>
        <Message>
            <p><strong>ERROR!</strong></p>
            <p>Incorrect ID or Password!</p>
        </Message>
    </Alert>
} *@

@if (ShowLoginFailedAlert)
{
    <AlertWithCallBack WhileClickingOKButton="OkayButtonPressed">
        <Message>
            <p><strong>ERROR!</strong></p>
            <p>Invalid Username or Password!</p>
        </Message>
    </AlertWithCallBack>

}


@code {
    private string? username { get; set; }
    private string? password { get; set; }
    private bool ShowLoginFailedAlert = false;

    private void LoginHandler()
    {
        if (username == "admin" && password == "admin")
        {
            NavManager.NavigateTo("/welcome");
        }
        else
        {
            ShowLoginFailedAlert = true;
        }
    }

    private void OkayButtonPressed()
    {
        username = null;
        password = null;
        ShowLoginFailedAlert = false;
    }

}

