
@page "/transaction"
<h3>Transaction</h3>

<NavLink href="/income"><button>Add Income</button></NavLink>
<NavLink href="/expense"><button>Add Expense</button></NavLink>
<NavLink href="/debt"><button>Debts</button></NavLink>
<NavLink href="/"><button>Back</button></NavLink>   