@page "/welcome"

<div class="centered-content">
    <h3>Welcome To Fishtail Finance</h3>
    <NavLink href="/"><button-logout>Log Out</button-logout></NavLink>
</div>

<div class="navigation-buttons">
    <NavLink href="/welcome"><button class="active">Home 🏠</button></NavLink>
    <NavLink href="/transaction"><button>Transaction 💰</button></NavLink>
    <NavLink href="/dashboard"><button>Dashboard 📈</button></NavLink>
</div>

<style>
    /* General styles */
    body {
        font-family: sans-serif;
        background-color: #15202B; /* Dark background */
        color: #FFFFFF;
        min-height: 100vh;
        display: flex; /* Center content vertically */
        flex-direction: column; /* Make the main content grow vertically */
        justify-content: space-between; /* Space between content and footer */
    }

	button-logout {
        position: fixed;
        top: 10px;
        right: 10px;
        background: #08212D;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
	}

    /* Centered content */
    .centered-content {
        text-align: center;
        margin-top: auto; /* Push content to top */
    }

    /* Navigation buttons (footer) */
    .navigation-buttons {
        display: flex;
        justify-content: space-around;
        background-color: #1C2833; /* Footer background */
        padding: 10px 0; /* Add some padding */
        position: fixed; /* Make it fixed to the bottom */
        bottom: 0; /* Position at the bottom */
        width: 100%; /* Full width */
    }

        /* Button styles */
        .navigation-buttons button {
            background-color: #1C2833;
            border: none;
            padding: 10px 20px;
            border-radius: 3px;
            color: #FFFFFF;
            cursor: pointer;
            transition: background-color 0.3s ease; /*Add transition effect */
        }

            .navigation-buttons button:hover {
                background-color: #1DA1F2; /* Hover color */
            }

            .navigation-buttons button.active {
                background-color: #1DA1F2;
            }
</style>

