
<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            
            <ul>
                <li><a href="/">Login</a></li>
                 
            </ul>
        </div>
        
    </nav>
</div>